<%= pluralize(@users.size, 'user') %>

<ul>
<% @users.each { |user| %>
    <li>
      <h3><%= user.name %></h3>
      Twitter: <%= user.twitter_handle %>
      Medium: <%= user.medium_handle %>
      Github: <%= user.github_handle %>
    </li>
<%  } %>
</ul>